Django>=4.0,<5.0
djangorestframework>=3.14.0
djangorestframework-simplejwt>=5.2.2
pycryptodome>=3.15.0
mysqlclient>=2.1.1
django-cors-headers>=4.0.0
neo4j>=5.9.0
python-dotenv>=0.19.0
django-redis>=5.2.0
hiredis>=2.0.0
redis>=4.5.4
jieba>=0.42.1
pyahocorasick>=2.0.0
torch>=1.13.1
transformers>=4.26.0 